[submodule "meta"]
	path = meta
	url = git@github.com:yetpocket/cls-meta
	branch = main
[submodule "verge"]
	path = verge
	url = git@github.com:yetpocket/cls-verge
	branch = main
[submodule "service"]
	path = service
	url = https://github.com/yetpocket/cls-verge-service
	branch = main
